<div class="head">
        <p>Let's Train Model Together</p>
      </div>


<mat-grid-list cols="2">

<mat-grid-tile>


        <mat-card>
                <mat-card-header>
                   <mat-card-title style="font-size: 20px;cursor: pointer;" (click)="collapse1()">Upload Dataset File &nbsp; <i class="material-icons">
                        keyboard_arrow_down
                        </i></mat-card-title>
                </mat-card-header>
              
                <mat-card-content *ngIf="!collapsed1">
                 
            <div class="container" >
            <div class="center">
                <div class="title">
                    <h1>Drop file to upload</h1>
                </div>
    
    
            <div class="dropzone">
                <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                <input type="file" class="upload-input" (change)="showPreview($event)" />
            </div>
    
            <button type="button" class="btn" name="uploadbutton"  (click)="save()">Upload file</button>
          
        </div>
        
    </div>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
              <br>
              <mat-divider></mat-divider>
              <br>
              <br>
                <mat-card-header>
                   <mat-card-title style="font-size: 20px;cursor: pointer;" (click)="collapse2()">Dataset from Kaggle &nbsp; <i class="material-icons">
                        keyboard_arrow_down
                        </i></mat-card-title>
                </mat-card-header>
              
                <mat-card-content *ngIf="!collapsed2">
                        <form>
                                <input type="text" id="author" class="fadeIn second" name="author" placeholder="Authorname" required>
                                <input type="text" id="dataset" class="fadeIn third" name="dataset" placeholder="Dataset Name" required>
                                <br>
                                <br>
                                <br>
                                <input type="submit" id="post" class="fadeIn fourth" (click)="set($event)" value="Submit">
                              </form>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
              </mat-card>


</mat-grid-tile>











<mat-grid-tile>

<div>
    <mat-card>Training
        <mat-card-content>
            <mat-form-field appearance="none">
                <mat-card class="tmo">
                <mat-select placeholder="Training Model"  [(value)]="selected">
                  <mat-option value="Resnet">Resnet</mat-option>
                  <mat-option value="VGG">VGG</mat-option>
                 </mat-select>
                 </mat-card>
               </mat-form-field>
                      
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content id="advn">
            <button  mat-raised-button color="primary" class="waves-light"  (click)="test.toggle()" mdbWavesEffect>
               Add parameters
              </button>
              
              <div class="cpl" mdbCollapse #test="bs-collapse">
                <mat-list role="list">
                    <mat-list-item role="listitem">Epochs 
                        <mat-form-field class="example-full-width" style="margin-left:10px;">
                            <input type="number"  placeholder="100" min="1" matInput id="epoch">
                        </mat-form-field>
                    </mat-list-item>
                    <br>
                    <mat-list-item role="listitem">Learning Rate
                        <mat-form-field class="example-full-width" style="margin-left:10px;">
                            <input  type="number" placeholder="0.02" min="1" matInput id="lr">
                        </mat-form-field>
                    </mat-list-item>
                    <br>
                    <mat-list-item role="listitem">Batch-size
                        <mat-form-field class="example-full-width" style="margin-left:10px;">
                            <input type="number"  min="1" matInput placeholder="64" id="bs">
                        </mat-form-field>
                    </mat-list-item>
                    <br>
                  </mat-list>
              </div>
        </mat-card-content>
    </mat-card>

   
</div>

</mat-grid-tile>

</mat-grid-list>



<br>
<br>
<br>

<button (click)="trainmodel()">Train Model</button>

<br>
<br>
<br>
<br>

<button (click)="predmodel()">Predict Model</button>